* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    top: 0;
    z-index: 5;
    width: 100%;
    
    color:#CBE4DE;
    background-color: #2E4F4F;
    
}

header a {
    text-decoration: none;
    color: #CBE4DE;
    font-weight: bold;
}